# Configuração de Exemplo (Aponte para o Banco de Dados da VM ou Local)
SQL_ENGINE=django.db.backends.postgresql
SQL_HOST=vm-lnx-0350
SQL_PORT=5432
SQL_DATABASE=pgi
SQL_USER=pgi
SQL_PASSWORD=insira_a_senha_aqui
